- if @student.errors.any?
  %div#error_explanation
    %h2
      = pluralize(@student.errors.count, "error")
      prohibited this student from being saved:
    %ul
      - @student.errors.full_messages.each do |message|
        %li
          = message
