<% if f.object.field_id == field.id && !field.hidden %>
  <%=field.name%></br>
  <div class="field">
    <%= f.hidden_field :field_id, :value => field.id %>
    <%= f.text_field :content %>
  </div>
<% end %>
