%div.jumbotron
  %h1
    = @student.full_name
%div#disabled-forms
  = render 'form'

= link_to 'Edit', edit_student_path(@student), class: "btn btn-primary"
= link_to 'Back', students_path, class: "btn btn-danger"
