%div.jumbotron
  %h1
    Settings

%div.row
  %div.col-sm-3
    = render 'shared/settings_panel'
  %div.col-sm-9
    %div.panel.panel-primary
      %div.panel-body
        %h1.no-top-margin
          New Recruit Status
        %div.bottom-margin
          = render 'form'
        = link_to 'Back', recruit_statuses_path, class: "btn btn-danger"
