%div.jumbotron
  %h1
    Settings

%div.row
  %div.col-sm-3
    = render 'shared/settings_panel'
  %div.col-sm-9
    %div.panel.panel-primary
      %div.panel-body
        %h1.no-top-margin
          Recruit Statuses

        %div.alert.alert-danger
          %strong
            Warning!
          Admin priviledges required to access this page.
