@import "jquery-ui";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px
}

.bottom-spacer {
  padding-bottom: 15px
}

.bottom-margin {
  margin-bottom: 15px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.form-control-date {
  @extend .form-control;
  @media (min-width: 768px) {
    width: 33%;
  }
}

.input-group-date {
  @extend .input-group;
  @media(min-width: 768px) {
    .form-control-date {
      width: 33%;
    }
  }
}

.input-group {
  .fifty-percent-width {
    width: 50%;
  }
}

.pull-right-cond {
  @extend .pull-right;
  @media(max-width: 768px) {
    float: left !important; //This is only here because the original style used important. Don't hate me.
  }
}
