body {
 background-image: url("/assets/splash.jpg");
 background-repeat: no-repeat;
 background-size: 100% auto;
 background-position: top center;
 background-color: #2a2a2a;
}

.panel {
  background-color: rgba(255,255,255,0.5);
}

.panel-primary {
  border-color: #ceb888;
}
