%div.jumbotron
  %h1
    Settings

%div.row
  %div.col-sm-3
    = render 'shared/settings_panel'
  %div.col-sm-9
    %div.panel.panel-primary
      %div.panel-body
        %h1.no-top-margin
          Active Users
          = link_to "New User", new_custom_user_path, class: "btn btn-success float-right"
        = render 'users_table', user_list: @users.where(banned:false)
        %h1.no-top-margin
          Blocked Users
        = render 'users_table', user_list: @users.where(banned:true)

