
%div.jumbotron
  %h1
    Settings

%div.row
  %div.col-sm-3
    = render 'shared/settings_panel'
  %div.col-sm-9
    %div.panel.panel-primary
      %div.panel-body
        %h3.no-top-margin
          Password Reset for
        %h1.center
          = @user.full_name
        %h3
          New Password:
        %h1.center
          = @newpass
        = link_to "Back", all_users_path, class: "btn btn-danger"
